body{
    font-family: 'Lato', sans-serif;
    margin: 0;
}
.top{
    background-image: url(images/donation13.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25%;
    text-align: center;
   
}
.top-header-tag{
    color: white;
    font-size: 50px;
}
.top-header-paragraph{
    color: white;
}
section{
    margin-bottom: 40px;
}
.link-button{
    border-radius: 5px;
    padding: 10px 20px;
    background-image: linear-gradient(orange, tomato);
    text-decoration: none;
    color: white;
    display: inline-block;
   
}
.middle-section{
    text-align: center;
    padding: 80px 160px;
    
}
.middle-header{
    font-size: 40px;
    font-weight: 700;

}
.middle-paragraph{
    color:cadetblue;
    text-align: center;
}

.amount{
    width: 50px;
    height: 50px;
    padding: 30px 25px;
    background-color: whitesmoke;
    border-radius: 5px;
    display: inline;
    margin-left: 5%;
    color:cadetblue;
    
}
.amount1{
    width: 50px;
    height: 50px;
    padding: 30px 25px;
    color: tomato ;
    background-color: rgb(252, 150, 150);
    border-radius: 5px;
    display: inline;
    margin-left: 5%;
    border: 3px solid tomato;
}
#other{
    padding-top: 40px;
    text-align: center;
    color:cadetblue;
}
.our-donate-plan{
    text-align: center;
    margin-top: 30px;
    margin-right: 100px;
    margin-left: 100px;
    padding: 30px;
}
.width{
    display:flex;
    margin: 50px;
    text-align: left;
}
.food{
    border-radius: 10px;
    margin-left: 10%;
    background-color:aquamarine;
    padding: 3%;
}
.family{
    border-radius: 10px;
    margin-left: 2%;
    background-color: lightpink;
    padding: 3%;
}
.education{
    border-radius: 10px;
    margin-left: 2%;
    margin-right: 2%;
    background-color:lightgreen;
    padding: 3%;
}

.paragraph{
    text-align: center;
    color:cadetblue;
    margin-left: 100px;
    margin-right: 100px;
}
.connect{
    text-align: center;    
   
}
.connect form{
    width: 40%;  
    padding: 30px 80px; 
    background-color:lightgreen ;
    border: 1px solid olivedrab;
   display: inline-block;
   border-radius: 5px;
}    
.Form-section{
    text-align: center; 
}

.Form-section form{
    
    width: 40%;  
     padding: 60px 60px; 
     background-color: lightgoldenrodyellow ;
     border: 1px solid lightgoldenrodyellow;
    display: inline-block;
     

}
.fb{
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color:skyblue;
    border: 1px solid wheat;
    border-radius: 5px;
    width: 40%;
}
.tw{
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color: rgb(104, 104, 245);
    border: 1px solid wheat;
    border-radius: 5px;
    width: 40%; 
}
.gl{
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color:salmon;
    border: 1px solid wheat;
    border-radius: 5px;
    width: 40%;
}
.sub{
    margin-bottom: 20px;
    padding: 10px 10px;
    background-color:slateblue;
    border: 1px solid wheat;
    border-radius: 5px;
    width: 40%;
}
.sub:hover{
    opacity: 1;
}
.row{
    float: left;
    margin-left: 30px;
    padding: 10px 10px;
    background-color: wheat;
    border: 1px solid wheat;
    border-radius: 5px;
    width: 40%;
    color: cadetblue;

}
.row1{
    float: left;
    padding: 10px 10px;
    background-color:tomato;
    border: 1px solid tomato;
    border-radius: 5px;
    width: 40%;
    color: white;
}


footer{
    background-color: black;
    text-align: center;
    width: 100%;
    height: 150px;
}
#footer-top{
    padding-top: 40px;
    color: orangered;
    font-style: italic;
    font-weight: 700;
}
#footer-para{
    color: white;
}
    